{"swagger":"2.0","info":{"description":"REST documentation.","version":"1.0","title":"Imediadorintegration Frontend Api"},"host":"okode.net:48080","basePath":"/imediadorintegration_fe-web","tags":[{"name":"Autos TC","description":"Autos pricing and contracting"},{"name":"App registry","description":"App Registry Controller"},{"name":"user-info-controller","description":"User Info Controller"},{"name":"Client card","description":"Clients info API"},{"name":"captcha-controller","description":"Captcha Controller"},{"name":"file-upload-controller","description":"File Upload Controller"},{"name":"AGD","description":"AGD Controller"},{"name":"TDC","description":"TDC Controller"},{"name":"TeCuidamos","description":"T Cuidamos Controller"},{"name":"Welcome Pack","description":"Welcome Pack Controller"},{"name":"Home IC","description":"Home IC Controller"},{"name":"Budget","description":"Budget Controller"},{"name":"Autos IC","description":"Autos IC Controller"},{"name":"view-client-event-log-controller","description":"View Client Event Log Controller"},{"name":"Utils","description":"Utils Controller"},{"name":"status-controller-impl","description":"Status Controller Impl"},{"name":"SGO","description":"Simple task tracker for SGC"},{"name":"normalizer-controller","description":"Normalizer Controller"},{"name":"digital-verification-controller","description":"Digital Verification Controller"},{"name":"LOPD","description":"Lopd Controller"},{"name":"Contacts","description":"Contact Controller"},{"name":"Complete expirations","description":"Complete Expiration Controller"},{"name":"Health IC","description":"Health IC Controller"},{"name":"SGC","description":"Client management system"},{"name":"SGO Tasks","description":"Tasks SGO Controller"},{"name":"Profile","description":"User Controller"},{"name":"Pending operations","description":"Pending Operation Controller"},{"name":"Policy","description":"Policy Controller"},{"name":"Managements","description":"Management Controller"},{"name":"Life IC","description":"Life IC Controller"},{"name":"tbid-controller","description":"TBID Controller"},{"name":"Unassigned managements","description":"Unassigned Managements Controller"},{"name":"RGPD","description":"Rgpd Controller"},{"name":"Login","description":"Login Controller"},{"name":"Docs","description":"Doc Controller"},{"name":"Team members","description":"Team Member Controller"}],"paths":{"/api/1.0/SGO/profile":{"get":{"tags":["SGO Tasks"],"summary":"getProfile","operationId":"getProfileUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/ProfileSGO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/SGO/tasks":{"get":{"tags":["SGO Tasks"],"summary":"listTasks","operationId":"listTasksUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"state","in":"query","description":"state","required":true,"type":"string","enum":["pending","done","toAssign"]},{"name":"type","in":"query","description":"type","required":true,"type":"string","enum":["task","arrangement"]},{"name":"showTeam","in":"query","description":"showTeam","required":true,"type":"boolean"},{"name":"poolId","in":"query","description":"poolId","required":false,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TaskSGO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/SGO/tasks/assign":{"post":{"tags":["SGO Tasks"],"summary":"assignTasks","operationId":"assignTasksUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"tasks","description":"tasks","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Task"}}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Task"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/SGO/tasks/search":{"get":{"tags":["SGO Tasks"],"summary":"searchTasks","operationId":"searchTasksUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"taskId","in":"query","description":"taskId","required":false,"type":"string"},{"name":"nif","in":"query","description":"nif","required":false,"type":"string"},{"name":"createdBy","in":"query","description":"createdBy","required":false,"type":"string"},{"name":"client","in":"query","description":"client","required":false,"type":"string"},{"name":"policy","in":"query","description":"policy","required":false,"type":"string"},{"name":"sgoBranch","in":"query","description":"sgoBranch","required":false,"type":"string"},{"name":"creationDate","in":"query","description":"creationDate","required":false,"type":"string"},{"name":"updateDate","in":"query","description":"updateDate","required":false,"type":"string"},{"name":"poolId","in":"query","description":"poolId","required":false,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TaskSGO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/SGO/tasks/{taskId}":{"get":{"tags":["SGO Tasks"],"summary":"getTask","operationId":"getTaskUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/TaskSGO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"post":{"tags":["SGO Tasks"],"summary":"processTask","operationId":"processTaskUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"type":"string"},{"name":"processTask","in":"formData","description":"processTask","required":true,"type":"ref"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/SGO/tasks/{taskId}/documents":{"post":{"tags":["SGO Tasks"],"summary":"createTaskDocuments","operationId":"createTaskDocumentsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"type":"string"},{"name":"requestId","in":"query","description":"requestId","required":true,"type":"string"},{"in":"body","name":"documents","description":"documents","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Document"}}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/SGO/tasks/{taskId}/documents/{documentId}":{"get":{"tags":["SGO Tasks"],"summary":"getTaskDocument","operationId":"getTaskDocumentUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"type":"string"},{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"},{"name":"requestId","in":"query","description":"requestId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"type":"string","format":"byte"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/SGO/tasks/{taskId}/pdf":{"get":{"tags":["SGO Tasks"],"summary":"getTaskPdfResume","operationId":"getTaskPdfResumeUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"type":"string"},{"name":"nuuma","in":"query","description":"nuuma","required":false,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"type":"string","format":"byte"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/agd/document":{"post":{"tags":["AGD"],"summary":"createFileDocument","operationId":"createFileDocumentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"documentExpedient","description":"documentExpedient","required":true,"schema":{"$ref":"#/definitions/ExpedientDocument"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/ExpedientDocumentResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/appRegistry":{"post":{"tags":["App registry"],"summary":"registerAppData","operationId":"registerAppDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"registry","description":"registry","required":true,"schema":{"$ref":"#/definitions/AppRegistry"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/autosIc/agreement":{"post":{"tags":["Autos IC"],"summary":"makeAgreement","operationId":"makeAgreementUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"contractRequest","description":"contractRequest","required":true,"schema":{"$ref":"#/definitions/ContractRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Contract"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/autosIc/categories/{categoryId}/brands":{"get":{"tags":["Autos IC"],"summary":"findVehicleBrands","operationId":"findVehicleBrandsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"categoryId","in":"path","description":"categoryId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/VehicleBrand"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/autosIc/categories/{categoryId}/brands/{brandId}/models":{"get":{"tags":["Autos IC"],"summary":"findVehicleModels","operationId":"findVehicleModelsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"categoryId","in":"path","description":"categoryId","required":true,"type":"string"},{"name":"brandId","in":"path","description":"brandId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/VehicleModel"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/autosIc/categories/{categoryId}/brands/{brandId}/models/{modelId}/versions":{"get":{"tags":["Autos IC"],"summary":"findVehicleVersions","operationId":"findVehicleVersionsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"categoryId","in":"path","description":"categoryId","required":true,"type":"string"},{"name":"brandId","in":"path","description":"brandId","required":true,"type":"string"},{"name":"modelId","in":"path","description":"modelId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/VehicleVersion"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/autosIc/companies/search":{"post":{"tags":["Autos IC"],"summary":"findCompanies","operationId":"findCompaniesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"search","description":"search","required":true,"schema":{"$ref":"#/definitions/InsuranceCompanySearch"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/InsuranceCompany"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/autosIc/payment/redsys/confirm":{"post":{"tags":["Autos IC"],"summary":"confirmRedsys","operationId":"confirmRedsysUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"contractRequest","description":"contractRequest","required":true,"schema":{"$ref":"#/definitions/ContractRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Contract"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/autosIc/payment/redsys/prepare":{"post":{"tags":["Autos IC"],"summary":"prepareRedsys","operationId":"prepareRedsysUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"isRecurrent","in":"query","description":"isRecurrent","required":true,"type":"boolean"},{"in":"body","name":"contractRequest","description":"contractRequest","required":true,"schema":{"$ref":"#/definitions/ContractRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/RedsysData"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/autosIc/pricing":{"post":{"tags":["Autos IC"],"summary":"findModalitiesPrices","operationId":"findModalitiesPricesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pricingRequest","description":"pricingRequest","required":true,"schema":{"$ref":"#/definitions/PricingRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Pricing"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/autosIc/vehicles":{"get":{"tags":["Autos IC"],"summary":"findVehiclesByPlate","operationId":"findVehiclesByPlateUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"plate","in":"query","description":"plate","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Vehicle"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/autosIc/vehicles/search":{"post":{"tags":["Autos IC"],"summary":"findAll","operationId":"findAllUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"search","description":"search","required":true,"schema":{"$ref":"#/definitions/VehicleSearch"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Vehicle"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/autosIc/vehicles/{vehicleId}":{"get":{"tags":["Autos IC"],"summary":"findById","operationId":"findByIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"vehicleId","in":"path","description":"vehicleId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Vehicle"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/autosIc/vehicles/{vehicleId}/coverages":{"get":{"tags":["Autos IC"],"summary":"findVehicleCoverages","operationId":"findVehicleCoveragesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"vehicleId","in":"path","description":"vehicleId","required":true,"type":"string"},{"name":"modalityId","in":"query","description":"modalityId","required":true,"type":"string"},{"name":"vehicleType","in":"query","description":"vehicleType","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Coverage"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/autosIc/vehicles/{vehicleId}/plates/{plate}":{"get":{"tags":["Autos IC"],"summary":"findVehiclePlate","operationId":"findVehiclePlateUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"vehicleId","in":"path","description":"vehicleId","required":true,"type":"string"},{"name":"plate","in":"path","description":"plate","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/VehiclePlate"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/budgets/integratedSearch":{"post":{"tags":["Budget"],"summary":"findAllIntegrated","operationId":"findAllIntegratedUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"search","description":"search","required":true,"schema":{"$ref":"#/definitions/BudgetSearch"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Budget"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/budgets/{projectID}":{"get":{"tags":["Budget"],"summary":"getBudgetDetail","operationId":"getBudgetDetailUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"projectID","in":"path","description":"projectID","required":true,"type":"string"},{"name":"isCompleteExpiration","in":"query","description":"isCompleteExpiration","required":false,"type":"boolean","default":true},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Budget"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/clients/ACI/client":{"post":{"tags":["Client card"],"summary":"registerInACI","operationId":"registerInACIUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"client","description":"client","required":true,"schema":{"$ref":"#/definitions/Client"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/clients/search":{"post":{"tags":["Client card"],"summary":"findAll","operationId":"findAllUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"clientCardSearch","description":"clientCardSearch","required":true,"schema":{"$ref":"#/definitions/ClientSearch"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Client"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/clients/{id}":{"get":{"tags":["Client card"],"summary":"findById","operationId":"findByIdUsingGET_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Client"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/clients/{id}/products":{"get":{"tags":["Client card"],"summary":"findClientProducts","operationId":"findClientProductsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Product"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/clients/{id}/thirdParties/bankAccounts":{"get":{"tags":["Client card"],"summary":"findThirdPartiesBankAccounts","operationId":"findThirdPartiesBankAccountsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"thirdPartyId","in":"query","description":"thirdPartyId","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"entityId","in":"query","description":"entityId","required":false,"type":"string"},{"name":"activityId","in":"query","description":"activityId","required":false,"type":"integer","default":1,"format":"int32"},{"name":"occurrences","in":"query","description":"occurrences","required":false,"type":"string","default":"N"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BankAccount"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/completeExpirations":{"post":{"tags":["Complete expirations"],"summary":"save","operationId":"saveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"commercialManagement","description":"commercialManagement","required":true,"schema":{"$ref":"#/definitions/CommercialManagement"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/digitalVerification":{"post":{"tags":["digital-verification-controller"],"summary":"createVerification","operationId":"createVerificationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dvRequest","description":"dvRequest","required":true,"schema":{"$ref":"#/definitions/DigitalVerificationRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/DigitalVerificationResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/digitalVerification/photo":{"post":{"tags":["digital-verification-controller"],"summary":"uploadDoc","operationId":"uploadDocUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"doc","description":"doc","required":true,"schema":{"$ref":"#/definitions/DigitalVerificationDoc"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/DigitalVerificationResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/docs/bdec":{"get":{"tags":["Docs"],"summary":"getDocByNuumaBdec","operationId":"getDocByNuumaBdecUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/docs/ldap":{"get":{"tags":["Docs"],"summary":"getDocByNuumaLdap","operationId":"getDocByNuumaLdapUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"extendedSearch","in":"query","description":"extendedSearch","required":false,"type":"boolean","default":false},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/healthIc/agreement":{"post":{"tags":["Health IC"],"summary":"makeAgreement","operationId":"makeAgreementUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"contractRequest","description":"contractRequest","required":true,"schema":{"$ref":"#/definitions/ContractRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Contract"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/healthIc/guarantees":{"get":{"tags":["Health IC"],"summary":"findGuarantees","operationId":"findGuaranteesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"modalityId","in":"query","description":"modalityId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Guarantee"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/healthIc/localities":{"get":{"tags":["Health IC"],"summary":"findLocalities","operationId":"findLocalitiesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"provinceId","in":"query","description":"provinceId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Locality"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/healthIc/pricing":{"post":{"tags":["Health IC"],"summary":"findModalitiesPrices","operationId":"findModalitiesPricesUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pricingRequest","description":"pricingRequest","required":true,"schema":{"$ref":"#/definitions/PricingRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Pricing"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/healthIc/professions/search":{"post":{"tags":["Health IC"],"summary":"findProfessions","operationId":"findProfessionsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"search","description":"search","required":true,"schema":{"$ref":"#/definitions/ProfessionSearch"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/ProfessionsResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/homeIc/agreement":{"post":{"tags":["Home IC"],"summary":"makeAgreement","operationId":"makeAgreementUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"contractRequest","description":"contractRequest","required":true,"schema":{"$ref":"#/definitions/ContractRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Pricing"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/homeIc/agreement/check":{"post":{"tags":["Home IC"],"summary":"checkAgreement","operationId":"checkAgreementUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pricingCheckRequest","description":"pricingCheckRequest","required":true,"schema":{"$ref":"#/definitions/CheckRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Pricing"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/homeIc/budget/{operationNumber}":{"get":{"tags":["Home IC"],"summary":"findBudget","operationId":"findBudgetUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"operationNumber","in":"path","description":"operationNumber","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Budget"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/homeIc/coveragesPrices/search":{"post":{"tags":["Home IC"],"summary":"findCoveragesPrices","operationId":"findCoveragesPricesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"sumaRequest","description":"sumaRequest","required":true,"schema":{"$ref":"#/definitions/SumaRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/SumaResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/homeIc/estates":{"get":{"tags":["Home IC"],"summary":"searchEstates","operationId":"searchEstatesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"provinceCode","in":"query","description":"provinceCode","required":true,"type":"string"},{"name":"localityCode","in":"query","description":"localityCode","required":true,"type":"string"},{"name":"streetType","in":"query","description":"streetType","required":true,"type":"string"},{"name":"streetName","in":"query","description":"streetName","required":true,"type":"string"},{"name":"number","in":"query","description":"number","required":true,"type":"string"},{"name":"block","in":"query","description":"block","required":false,"type":"string"},{"name":"step","in":"query","description":"step","required":false,"type":"string"},{"name":"floor","in":"query","description":"floor","required":false,"type":"string"},{"name":"door","in":"query","description":"door","required":false,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Estate"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/homeIc/estates/{estateId}":{"get":{"tags":["Home IC"],"summary":"getEstate","operationId":"getEstateUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"estateId","in":"path","description":"estateId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Estate"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/homeIc/localities":{"get":{"tags":["Home IC"],"summary":"findLocalitiesByPostalCode","operationId":"findLocalitiesByPostalCodeUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"postalCode","in":"query","description":"postalCode","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Locality"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/homeIc/payment/redsys/confirm":{"post":{"tags":["Home IC"],"summary":"confirmRedsys","operationId":"confirmRedsysUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"contractRequest","description":"contractRequest","required":true,"schema":{"$ref":"#/definitions/ContractRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Pricing"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/homeIc/payment/redsys/prepare":{"post":{"tags":["Home IC"],"summary":"prepareRedsys","operationId":"prepareRedsysUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"isRecurrent","in":"query","description":"isRecurrent","required":true,"type":"boolean"},{"in":"body","name":"contractRequest","description":"contractRequest","required":true,"schema":{"$ref":"#/definitions/CheckRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/RedsysData"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/homeIc/pricing":{"post":{"tags":["Home IC"],"summary":"findModalitiesPrices","operationId":"findModalitiesPricesUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pricingRequest","description":"pricingRequest","required":true,"schema":{"$ref":"#/definitions/PricingRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Pricing"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/homeIc/pricing/doc":{"post":{"tags":["Home IC"],"summary":"generatePricingDoc","operationId":"generatePricingDocUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"docRequest","description":"docRequest","required":true,"schema":{"$ref":"#/definitions/PricingDocRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/DocGenerationResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/homeIc/suggestions/streets":{"get":{"tags":["Home IC"],"summary":"getStreetSuggestions","operationId":"getStreetSuggestionsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"provinceCode","in":"query","description":"provinceCode","required":true,"type":"string"},{"name":"localityCode","in":"query","description":"localityCode","required":true,"type":"string"},{"name":"requestedStreet","in":"query","description":"requestedStreet","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Street"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/homeIc/welcomepack":{"post":{"tags":["Home IC"],"summary":"sendWelcomepack","operationId":"sendWelcomepackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"docsRequest","description":"docsRequest","required":true,"schema":{"$ref":"#/definitions/AgreementDocsRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/lifeIc/agreement":{"post":{"tags":["Life IC"],"summary":"makeAgreement","operationId":"makeAgreementUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"operationId","in":"query","description":"operationId","required":false,"type":"string"},{"in":"body","name":"contractRequest","description":"contractRequest","required":true,"schema":{"$ref":"#/definitions/ContractRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Contract"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/lifeIc/agreement/check":{"post":{"tags":["Life IC"],"summary":"checkAgreement","operationId":"checkAgreementUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"operationId","in":"query","description":"operationId","required":false,"type":"string"},{"in":"body","name":"contractRequest","description":"contractRequest","required":true,"schema":{"$ref":"#/definitions/ContractRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Pricing"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/lifeIc/agreement/{policyId}/thirdsSignature":{"post":{"tags":["Life IC"],"summary":"makeThirdSignature","operationId":"makeThirdSignatureUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"policyId","in":"path","description":"policyId","required":true,"type":"string"},{"in":"body","name":"thirdsSignature","description":"thirdsSignature","required":true,"schema":{"$ref":"#/definitions/ThirdsSignature"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/lifeIc/catalog/{catalogId}":{"get":{"tags":["Life IC"],"summary":"getCatalog","operationId":"getCatalogUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"operationId","in":"query","description":"operationId","required":false,"type":"string"},{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Element"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/lifeIc/initialData":{"get":{"tags":["Life IC"],"summary":"getInitialData","operationId":"getInitialDataUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"operationId","in":"query","description":"operationId","required":false,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/InitData"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/lifeIc/person":{"get":{"tags":["Life IC"],"summary":"getPerson","operationId":"getPersonUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"documentNumber","in":"query","description":"documentNumber","required":true,"type":"string"},{"name":"operationId","in":"query","description":"operationId","required":false,"type":"string"},{"name":"birthDate","in":"query","description":"birthDate","required":false,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Person"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/lifeIc/pricing":{"post":{"tags":["Life IC"],"summary":"findPricing","operationId":"findPricingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"operationId","in":"query","description":"operationId","required":false,"type":"string"},{"in":"body","name":"pricingRequest","description":"pricingRequest","required":true,"schema":{"$ref":"#/definitions/PricingRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Pricing"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/lifeIc/pricing/{projectId}/version/{projectVersion}/doc/{documentId}":{"get":{"tags":["Life IC"],"summary":"generatePricingDoc","operationId":"generatePricingDocUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"operationId","in":"query","description":"operationId","required":false,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"projectVersion","in":"path","description":"projectVersion","required":true,"type":"string"},{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/PricingDocument"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/lifeIc/pricing/{projectId}/version/{projectVersion}/doc/{documentId}/send":{"post":{"tags":["Life IC"],"summary":"sendPricingDoc","operationId":"sendPricingDocUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"operationId","in":"query","description":"operationId","required":false,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"projectVersion","in":"path","description":"projectVersion","required":true,"type":"string"},{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"},{"in":"body","name":"sendPricingDocRequest","description":"sendPricingDocRequest","required":true,"schema":{"$ref":"#/definitions/SendPricingDocRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/lifeIc/questionary/{questionaryId}":{"get":{"tags":["Life IC"],"summary":"getQuestionary","operationId":"getQuestionaryUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"operationId","in":"query","description":"operationId","required":false,"type":"string"},{"name":"questionaryId","in":"path","description":"questionaryId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Questionary"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/login":{"post":{"tags":["Login"],"summary":"login","operationId":"loginUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/lopd/email":{"post":{"tags":["LOPD"],"summary":"sendEmail","operationId":"sendEmailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"email","description":"email","required":true,"schema":{"$ref":"#/definitions/LopdEmail"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/pendingOperations":{"get":{"tags":["Pending operations"],"summary":"findAll","operationId":"findAllUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PendingOperation"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/pendingOperations/{pendingOperationId}":{"get":{"tags":["Pending operations"],"summary":"findById","operationId":"findByIdUsingGET_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"pendingOperationId","in":"path","description":"pendingOperationId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/PendingOperation"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/pendingOperations/{pendingOperationId}/comment":{"post":{"tags":["Pending operations"],"summary":"saveComment","operationId":"saveCommentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"pendingOperationId","in":"path","description":"pendingOperationId","required":true,"type":"string"},{"in":"body","name":"comment","description":"comment","required":true,"schema":{"$ref":"#/definitions/Comment"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/pendingOperations/{pendingOperationId}/status":{"post":{"tags":["Pending operations"],"summary":"updateStatus","operationId":"updateStatusUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"pendingOperationId","in":"path","description":"pendingOperationId","required":true,"type":"string"},{"name":"solve","in":"query","description":"solve","required":true,"type":"string","enum":["FINISH","REJECT"]},{"in":"body","name":"comment","description":"comment","required":true,"schema":{"$ref":"#/definitions/Comment"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/policies/receipts":{"get":{"tags":["Policy"],"summary":"findReceipts","operationId":"findReceiptsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"type","in":"query","description":"type","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Receipt"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/contacts":{"post":{"tags":["Contacts"],"summary":"save","operationId":"saveUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"contact","description":"contact","required":true,"schema":{"$ref":"#/definitions/Contact"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Contact"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/contacts/search":{"post":{"tags":["Contacts"],"summary":"findAll","operationId":"findAllUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":1,"format":"int32"},{"in":"body","name":"contactSearch","description":"contactSearch","required":true,"schema":{"$ref":"#/definitions/ContactSearch"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Contact"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/contacts/{contactId}":{"get":{"tags":["Contacts"],"summary":"findById","operationId":"findByIdUsingGET_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"contactId","in":"path","description":"contactId","required":true,"type":"integer","format":"int64"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Contact"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"post":{"tags":["Contacts"],"summary":"update","operationId":"updateUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"contactId","in":"path","description":"contactId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"contact","description":"contact","required":true,"schema":{"$ref":"#/definitions/Contact"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Contact"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/contacts/{contactId}/expirations":{"get":{"tags":["Contacts"],"summary":"findExpirations","operationId":"findExpirationsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"contactId","in":"path","description":"contactId","required":true,"type":"integer","format":"int64"},{"name":"expirationType","in":"query","description":"expirationType","required":false,"type":"integer","format":"int32"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ContactExpiration"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"post":{"tags":["Contacts"],"summary":"saveExpiration","operationId":"saveExpirationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"contactId","in":"path","description":"contactId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"expiration","description":"expiration","required":true,"schema":{"$ref":"#/definitions/ContactExpiration"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ContactExpiration"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/contacts/{contactId}/expirations/{expirationId}":{"post":{"tags":["Contacts"],"summary":"updateExpiration","operationId":"updateExpirationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"contactId","in":"path","description":"contactId","required":true,"type":"integer","format":"int64"},{"name":"expirationId","in":"path","description":"expirationId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"contactExpiration","description":"contactExpiration","required":true,"schema":{"$ref":"#/definitions/ContactExpiration"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ContactExpiration"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/managements":{"post":{"tags":["Managements"],"summary":"save","operationId":"saveUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"management","description":"management","required":true,"schema":{"$ref":"#/definitions/Management"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Management"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/managements/actions":{"get":{"tags":["Managements"],"summary":"findManagementTypeActions","operationId":"findManagementTypeActionsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"actionType","in":"query","description":"actionType","required":false,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ManagementTypeAction"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/managements/assign":{"post":{"tags":["Managements"],"summary":"assignManagements","operationId":"assignManagementsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"managementAssignment","description":"managementAssignment","required":true,"schema":{"$ref":"#/definitions/ManagementAssignment"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/managements/search":{"post":{"tags":["Managements"],"summary":"findAll","operationId":"findAllUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":1,"format":"int32"},{"in":"body","name":"managementSearch","description":"managementSearch","required":true,"schema":{"$ref":"#/definitions/ManagementSearch"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Management"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/managements/{managementId}":{"get":{"tags":["Managements"],"summary":"find","operationId":"findUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"managementId","in":"path","description":"managementId","required":true,"type":"integer","format":"int64"},{"name":"contactId","in":"query","description":"contactId","required":false,"type":"integer","format":"int64"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Management"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/managements/{managementId}/completeExpiration":{"get":{"tags":["Managements"],"summary":"getExpirationCompleteDetail","operationId":"getExpirationCompleteDetailUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"managementId","in":"path","description":"managementId","required":true,"type":"integer","format":"int64"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/managements/{managementId}/observations":{"post":{"tags":["Managements"],"summary":"saveObservation","operationId":"saveObservationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"managementId","in":"path","description":"managementId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"observation","description":"observation","required":true,"schema":{"$ref":"#/definitions/Observation"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Management"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/managements/{managementId}/status":{"post":{"tags":["Managements"],"summary":"closeManagement","operationId":"closeManagementUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"managementId","in":"path","description":"managementId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"managementClose","description":"managementClose","required":true,"schema":{"$ref":"#/definitions/ManagementClose"}},{"name":"newStatus","in":"query","description":"newStatus","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/teamMembers":{"get":{"tags":["Team members"],"summary":"findAll","operationId":"findAllUsingGET_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TeamMember"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/unassignedmanagements":{"get":{"tags":["Unassigned managements"],"summary":"findAll","operationId":"findAllUsingGET_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"actionId","in":"query","description":"actionId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Management"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/profiles/{profileId}/unassignedmanagements/actions":{"get":{"tags":["Unassigned managements"],"summary":"findActions","operationId":"findActionsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"profileId","in":"path","description":"profileId","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"actionTypeId","in":"query","description":"actionTypeId","required":false,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UnassignedManagementTypeAction"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/rgpd/clients":{"post":{"tags":["RGPD"],"summary":"updateClient","operationId":"updateClientUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"user","description":"user","required":true,"schema":{"$ref":"#/definitions/RgpdUser"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/RgpdUser"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"put":{"tags":["RGPD"],"summary":"createClient","operationId":"createClientUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"user","description":"user","required":true,"schema":{"$ref":"#/definitions/RgpdUser"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/RgpdUser"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/rgpd/clients/consent":{"post":{"tags":["RGPD"],"summary":"sendConsent","operationId":"sendConsentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"user","description":"user","required":true,"schema":{"$ref":"#/definitions/RgpdUser"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/rgpd/clients/search":{"post":{"tags":["RGPD"],"summary":"searchClient","operationId":"searchClientUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"user","description":"user","required":true,"schema":{"$ref":"#/definitions/RgpdUser"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/RgpdUser"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/tdc/agreementSignature":{"post":{"tags":["TDC"],"summary":"registerSignature","operationId":"registerSignatureUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"signature","description":"signature","required":true,"schema":{"$ref":"#/definitions/Signature"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/SignatureResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/tecuidamos/client":{"post":{"tags":["TeCuidamos"],"summary":"registerClient","operationId":"registerClientUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"tcClient","description":"tcClient","required":true,"schema":{"$ref":"#/definitions/TCRegisterClient"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/TCRegisterResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/user":{"get":{"tags":["Profile"],"summary":"findMe","operationId":"findMeUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/User"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/utils/cache":{"delete":{"tags":["Utils"],"summary":"clearAllCaches","operationId":"clearAllCachesUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/utils/imagesMix":{"post":{"tags":["Utils"],"summary":"combineImages","operationId":"combineImagesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ImagesMixRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.0/welcomepack":{"post":{"tags":["Welcome Pack"],"summary":"sendDigitalWP","operationId":"sendDigitalWPUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"welcomePack","description":"welcomePack","required":true,"schema":{"$ref":"#/definitions/WelcomePack"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/WelcomePack"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/SGO/profile":{"get":{"tags":["SGO Tasks"],"summary":"getProfile","operationId":"getProfileUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/ProfileSGO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/SGO/tasks":{"get":{"tags":["SGO Tasks"],"summary":"listTasks","operationId":"listTasksUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"state","in":"query","description":"state","required":true,"type":"string","enum":["pending","done","toAssign"]},{"name":"type","in":"query","description":"type","required":true,"type":"string","enum":["task","arrangement"]},{"name":"showTeam","in":"query","description":"showTeam","required":true,"type":"boolean"},{"name":"poolId","in":"query","description":"poolId","required":false,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TaskSGO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/SGO/tasks/assign":{"post":{"tags":["SGO Tasks"],"summary":"assignTasks","operationId":"assignTasksUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"tasks","description":"tasks","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Task"}}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Task"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/SGO/tasks/search":{"get":{"tags":["SGO Tasks"],"summary":"searchTasks","operationId":"searchTasksUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"taskId","in":"query","description":"taskId","required":false,"type":"string"},{"name":"nif","in":"query","description":"nif","required":false,"type":"string"},{"name":"createdBy","in":"query","description":"createdBy","required":false,"type":"string"},{"name":"client","in":"query","description":"client","required":false,"type":"string"},{"name":"policy","in":"query","description":"policy","required":false,"type":"string"},{"name":"sgoBranch","in":"query","description":"sgoBranch","required":false,"type":"string"},{"name":"creationDate","in":"query","description":"creationDate","required":false,"type":"string"},{"name":"updateDate","in":"query","description":"updateDate","required":false,"type":"string"},{"name":"poolId","in":"query","description":"poolId","required":false,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TaskSGO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/SGO/tasks/{taskId}":{"get":{"tags":["SGO Tasks"],"summary":"getTask","operationId":"getTaskUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/TaskSGO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"post":{"tags":["SGO Tasks"],"summary":"processTask","operationId":"processTaskUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"type":"string"},{"name":"processTask","in":"formData","description":"processTask","required":true,"type":"ref"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/SGO/tasks/{taskId}/documents":{"post":{"tags":["SGO Tasks"],"summary":"createTaskDocuments","operationId":"createTaskDocumentsUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"type":"string"},{"name":"requestId","in":"query","description":"requestId","required":true,"type":"string"},{"in":"body","name":"documents","description":"documents","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Document"}}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/SGO/tasks/{taskId}/documents/{documentId}":{"get":{"tags":["SGO Tasks"],"summary":"getTaskDocument","operationId":"getTaskDocumentUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"type":"string"},{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"},{"name":"requestId","in":"query","description":"requestId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"type":"string","format":"byte"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/SGO/tasks/{taskId}/pdf":{"get":{"tags":["SGO Tasks"],"summary":"getTaskPdfResume","operationId":"getTaskPdfResumeUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"type":"string"},{"name":"nuuma","in":"query","description":"nuuma","required":false,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"type":"string","format":"byte"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/agd/document":{"post":{"tags":["AGD"],"summary":"createFileDocument","operationId":"createFileDocumentUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"documentExpedient","description":"documentExpedient","required":true,"schema":{"$ref":"#/definitions/ExpedientDocument"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/ExpedientDocumentResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/appRegistry":{"post":{"tags":["App registry"],"summary":"registerAppData","operationId":"registerAppDataUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"registry","description":"registry","required":true,"schema":{"$ref":"#/definitions/AppRegistry"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/autosIc/agreement":{"post":{"tags":["Autos IC"],"summary":"makeAgreement","operationId":"makeAgreementUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"contractRequest","description":"contractRequest","required":true,"schema":{"$ref":"#/definitions/ContractRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Contract"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/autosIc/categories/{categoryId}/brands":{"get":{"tags":["Autos IC"],"summary":"findVehicleBrands","operationId":"findVehicleBrandsUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"categoryId","in":"path","description":"categoryId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/VehicleBrand"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/autosIc/categories/{categoryId}/brands/{brandId}/models":{"get":{"tags":["Autos IC"],"summary":"findVehicleModels","operationId":"findVehicleModelsUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"categoryId","in":"path","description":"categoryId","required":true,"type":"string"},{"name":"brandId","in":"path","description":"brandId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/VehicleModel"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/autosIc/categories/{categoryId}/brands/{brandId}/models/{modelId}/versions":{"get":{"tags":["Autos IC"],"summary":"findVehicleVersions","operationId":"findVehicleVersionsUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"categoryId","in":"path","description":"categoryId","required":true,"type":"string"},{"name":"brandId","in":"path","description":"brandId","required":true,"type":"string"},{"name":"modelId","in":"path","description":"modelId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/VehicleVersion"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/autosIc/companies/search":{"post":{"tags":["Autos IC"],"summary":"findCompanies","operationId":"findCompaniesUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"search","description":"search","required":true,"schema":{"$ref":"#/definitions/InsuranceCompanySearch"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/InsuranceCompany"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/autosIc/payment/redsys/confirm":{"post":{"tags":["Autos IC"],"summary":"confirmRedsys","operationId":"confirmRedsysUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"contractRequest","description":"contractRequest","required":true,"schema":{"$ref":"#/definitions/ContractRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Contract"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/autosIc/payment/redsys/prepare":{"post":{"tags":["Autos IC"],"summary":"prepareRedsys","operationId":"prepareRedsysUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"isRecurrent","in":"query","description":"isRecurrent","required":true,"type":"boolean"},{"in":"body","name":"contractRequest","description":"contractRequest","required":true,"schema":{"$ref":"#/definitions/ContractRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/RedsysData"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/autosIc/pricing":{"post":{"tags":["Autos IC"],"summary":"findModalitiesPrices","operationId":"findModalitiesPricesUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pricingRequest","description":"pricingRequest","required":true,"schema":{"$ref":"#/definitions/PricingRequest"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Pricing"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/autosIc/vehicles":{"get":{"tags":["Autos IC"],"summary":"findVehiclesByPlate","operationId":"findVehiclesByPlateUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"plate","in":"query","description":"plate","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Vehicle"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/autosIc/vehicles/search":{"post":{"tags":["Autos IC"],"summary":"findAll","operationId":"findAllUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"search","description":"search","required":true,"schema":{"$ref":"#/definitions/VehicleSearch"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Vehicle"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/autosIc/vehicles/{vehicleId}":{"get":{"tags":["Autos IC"],"summary":"findById","operationId":"findByIdUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"vehicleId","in":"path","description":"vehicleId","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Vehicle"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/autosIc/vehicles/{vehicleId}/coverages":{"get":{"tags":["Autos IC"],"summary":"findVehicleCoverages","operationId":"findVehicleCoveragesUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"vehicleId","in":"path","description":"vehicleId","required":true,"type":"string"},{"name":"modalityId","in":"query","description":"modalityId","required":true,"type":"string"},{"name":"vehicleType","in":"query","description":"vehicleType","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Coverage"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/autosIc/vehicles/{vehicleId}/plates/{plate}":{"get":{"tags":["Autos IC"],"summary":"findVehiclePlate","operationId":"findVehiclePlateUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"vehicleId","in":"path","description":"vehicleId","required":true,"type":"string"},{"name":"plate","in":"path","description":"plate","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/VehiclePlate"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/budgets/integratedSearch":{"post":{"tags":["Budget"],"summary":"findAllIntegrated","operationId":"findAllIntegratedUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"search","description":"search","required":true,"schema":{"$ref":"#/definitions/BudgetSearch"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Budget"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/budgets/{projectID}":{"get":{"tags":["Budget"],"summary":"getBudgetDetail","operationId":"getBudgetDetailUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"projectID","in":"path","description":"projectID","required":true,"type":"string"},{"name":"isCompleteExpiration","in":"query","description":"isCompleteExpiration","required":false,"type":"boolean","default":true},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Budget"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/clients/ACI/client":{"post":{"tags":["Client card"],"summary":"registerInACI","operationId":"registerInACIUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"client","description":"client","required":true,"schema":{"$ref":"#/definitions/Client"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/clients/search":{"post":{"tags":["Client card"],"summary":"findAll","operationId":"findAllUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"clientCardSearch","description":"clientCardSearch","required":true,"schema":{"$ref":"#/definitions/ClientSearch"}},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Client"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/clients/{id}":{"get":{"tags":["Client card"],"summary":"findById","operationId":"findByIdUsingGET_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"X-Authorization","in":"header","description":"Authentication token (Bearer token provided by login)","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found"},"200":{"description":"OK","schema":{"$ref":"#/definitions/Client"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/1.1/clients/{id}/products":{"get":{"tags":["Client card"],"summary":"findClientProducts","operationId":"findClientProductsUsingGET_1","consumes":["application/json"],"produces":["*/
[...]
